                    <!--begin::Vendors Javascript(users page)-->
                            <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
                        <!--end::Vendors Javascript-->

                    <!--begin::Custom Javascript(users page)-->
                            <script src="assets/js/components/utilities/modals/upgrade-plan.js"></script>
                            <script src="assets/js/components/utilities/modals/create-app.js"></script>
                            <script src="assets/js/components/utilities/modals/new-target.js"></script>
                            <script src="assets/js/components/utilities/modals/users-search.js"></script>
                            <script src="assets/js/pages/users.js"></script>
                        <!--end::Custom Javascript-->
